
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333 100%;
    color: white;
}

.navBar a {
  text-decoration: none;
  margin-left: 20px;
}

.containerBoton {
    display: flex;
    align-items: center;
    flex-grow: 1.5;
    justify-content: center;
  }

  .btn {
    border-radius: 999px;
    padding: 1em 2em;
    margin: 15px;
    background: linear-gradient(117deg, #00ff75 26%,#3700ff );
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    transition: box-shadow 0.25s ease 0s;
    letter-spacing: 0.08rem;
    display:flex;
    text-align: center;


   }

.btn:hover:focus {
    background: linear-gradient(117deg, #ddc318,#3700ff);
    box-shadow: 0 0.1rem 0.8rem rgb(22, 143, 248);
    text-decoration: none;
   }




