
.navBar {
    display: flex;
    justify-content: space-between; /* Espacio entre la barra de búsqueda y los botones */
    align-items: center; /* Centrar verticalmente los elementos */
    padding: 10px;
    background-color: #333 100%; /* Cambia el color de fondo según tu diseño */
    color: white; /* Cambia el color del texto según tu diseño */
  }
  
.containerBoton {
    display: flex;
    align-items: center;
    flex-grow: 1.5; /* Esto hace que el contenedor de botones ocupe todo el espacio disponible */
    justify-content: center;
  }
  

  

  .btn {
    border-radius: 999px;
    padding: 1em 2em;
    margin: 10px;
    background: linear-gradient(117deg, #00ff75 26%,#3700ff );
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    transition: box-shadow 0.25s ease 0s;
    letter-spacing: 0.08rem;
    display:flex;
    /* text-decoration: none; */

   }

.btn:hover:focus {
    background: linear-gradient(117deg, #00ff75,#3700ff);
    box-shadow: 0 0.1rem 0.8rem rgb(22, 143, 248);
    text-decoration: none;
   }





/* .boton {
    border-radius: 999px;
    padding: 1em 2em;
    background: linear-gradient(117deg, #00ff75 26%,#3700ff );
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    transition: box-shadow 0.25s ease 0s;
    letter-spacing: 0.08rem;
    
    text-align:left

   }

.boton:hover:focus {
    background: linear-gradient(117deg, #00ff75,#3700ff);
    box-shadow: 0 0.1rem 0.8rem rgb(22, 143, 248);
   } */