.cardContainer{


  width: 340px;
  height:480px;

  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  opacity: 0.95;

  border-radius: 10px;
}

/* .cardContainer{
  height: 450px;
  width: 350px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  box-shadow: 0 0 20px 8px #d0d0d0;
  overflow: hidden; */
/* } */

.header{
  position: relative;
}

.buttonContainer{
  position: absolute;
  right: 5px;
  top: 5px;

}


img{
  max-width: 100%;
  margin:10px;
  padding: 10px;
  border-radius: 30px;


}

.textContainer{
  position: relative;
  /* background-color: gray; */
  top: -30px;
}

.name{
  position: absolute;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(95, 232, 15, 0.742);
  left: 5px;
  top:-80px;
  border-radius: 25px;
}

.name:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}


.info{
  
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(96, 219, 14, 0.5);
 
  

}

.btn {
  border-radius: 999px;
  /* padding: 1em 2em; */
  background: linear-gradient(117deg, #00ff75 26%,#3700ff );
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  transition: box-shadow 0.25s ease 0s;
  letter-spacing: 0.08rem;
 }

.btn:hover:focus {
  background: linear-gradient(117deg, #00ff75,#3700ff);
  box-shadow: 0 0.1rem 0.8rem rgb(22, 143, 248);
 }

 .btn2{
  background-color: rgb(236, 16, 16);
 }

 .favContainer{
  position: absolute;
 
  background-color: rgb(229, 14, 14);
  width: 35px;
  right: 300px;
  top: 5px;
  border-radius: 999px;
  font-weight: 500;

 }




