
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image: url("https://e0.pxfuel.com/wallpapers/503/477/desktop-wallpaper-rick-y-morty-iphone-rick-morty-poster-rick-con-respecto-iphone-rick-and-morty-rick-and-morty-fan-art.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px; 
    min-height: 100vh;
   
}
  
 
.registerContainer,
.logInContainer{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* text-align: center; */
   
} 


.logInContainer p{
  color: white;
  margin-top: 180px;
  font-size: 30px;
  font-family: fantasy;
  text-shadow: 2px 2px 4px rgb(7, 234, 7);
}



.registerTitle{
  margin-top: 50px;
}

.registerTitle h2{
  color: white;
  font-family: fantasy;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgb(7, 234, 7);

}

.logInContainer input:hover {background-color: rgb(213, 209, 209);}
.registerContainer input:hover {background-color: rgb(213, 209, 209);}

label {
  display: block; 
  margin-bottom: 5px; 
  font-weight: bold; 
  color: white;

}

input {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px; 
    box-sizing: border-box;
   
  } 

  
  button {
    width: 80%;
    padding: 8px; 
    margin: 2px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
  }
  
  
  