/* Form.module.css */

/* Form.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* background-color: #6c7166; */
    background-image: url("https://e0.pxfuel.com/wallpapers/503/477/desktop-wallpaper-rick-y-morty-iphone-rick-morty-poster-rick-con-respecto-iphone-rick-and-morty-rick-and-morty-fan-art.jpg");
    background-repeat: no-repeat;
    
  /* background-attachment: fixed; */
    background-size: 100% 100%;
  
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px; 
    min-height: 100vh;
    /* margin: 0 auto; Centra horizontalmente */
}

 

  /* .formContainer{
    /* background-color: aqua; */
    /* width: 250px; */
   
  
  label {
    display: block; /* Hace que las etiquetas se muestren en una línea nueva (uno debajo del otro) */
    margin-bottom: 5px; /* Espacio entre las etiquetas y los campos de entrada */
    font-weight: bold; /* Estilo de fuente en negrita para las etiquetas (opcional) */
    color: white;
    
  }
  
  input {
    width: 100%;
    padding: 5px; /* Tamaño más pequeño de relleno */
    margin-bottom: 5px;
    border: 1px solid rgb(7, 7, 7); /* Borde alrededor de los campos de entrada */
    border-radius: 5px; /* Bordes redondeados para los campos de entrada */
  }
  
  button {
    width: 100%;
    padding: 8px; /* Tamaño más pequeño de relleno */
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados para el botón */
  }
  
  /* Estilos adicionales para hacerlo responsive según sea necesario */
  
  