.navBar{
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
}

.btn {
    border-radius: 999px;
    padding: 1em 2em;
    background: linear-gradient(117deg, #00ff75 26%,#3700ff );
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    transition: box-shadow 0.25s ease 0s;
    letter-spacing: 0.08rem;
    display:flex 

   }

.btn:hover:focus {
    background: linear-gradient(117deg, #fafa50,#3700ff);
    box-shadow: 0 0.1rem 0.8rem rgb(22, 143, 248);
   }


input[type="search"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    text-decoration: none;
  }

