.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.aboutContent {
  background-color: rgb(111, 217, 92); 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px; 
  width: 100%;
  
}

.aboutImage {
  width: 200px; 
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.aboutText {
  text-align: justify;
}

.aboutTextH2 {
  color: rgb(61, 60, 60); 
}

.aboutTextP {
  color: #666; 
}

